# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/environments
/backend/config/
/backend/runtime/
/backend/web/assets/
/backend/web/logs/
/backend/web/db/

/common/config/
/console/config/
/console/runtime/

/frontend/config/
/frontend/runtime/
/frontend/web/assets/
/frontend/web/logs/


# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
